.btn:focus {outline: none;}
.link a {text-decoration: none;color:inherit}
.container {
  padding: 0 5rem;
}
.main {
  width: 100%;
  min-height: 100vh;
}
.logo_image {
  width: auto;
  height: auto;
}

/* navbar styles */

.nav_item {
  position: relative;
  display: inline-block;
  font-family: 'MuseoModerno';
  font-weight: 400;
  margin: 0 25px;
  font-size: 16px;
  cursor: pointer;
}
.nav_item::before {
  content: '';
  display: block;
  width: 0;
  border:none;
  height: 2px;
  background-color: #5D59FF;
  transition: .3s;
}
.nav_item::after {
  content: '';
  display: block;
  width: 0;
  border:none;
  height: 2px;
  background-color: #5D59FF;
  position: absolute;
  right: 0;
  transition: .3s;
}
.nav_item:hover::before , .nav_item:hover::after {
  width: 20px;
}

/* Banner Styles */
.banner_wrapper {

}
.banner_text {
  position: relative;
  z-index: 9;
}
.banner_title {
  font-size: 48px;
  font-family: 'Open Sans';
  font-weight: 600;
  margin-bottom: 75px
}
.banner_title > .highlight {
  display: block;
  color: #5D59FF;
}
.banner_description {
  width: 500px;
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 16px;
  margin: 50px 0;
}
.banner_btn {
  font-size: 16px;
  color: white;
  background-color: #5D59FF;
  padding: 15px 30px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
}
.banner_dot1 {
  position: absolute;
  top:0;
}
.banner_dot2 {
  position: absolute;
  top:-50px;
  right: 0;
}
.banner_rectangle {
  position: absolute;
  width: 300%;
  left: 0;
  top: 50px;
  transform: rotate(5deg);
  z-index: 1;
}
/* .banner_rectangle > span {position: static !important;} */

/* Portofolio Styles */
.portofolio_wrapper {
  margin-top: 500px;
  position: relative;
  text-align: center;
  z-index: 5;
}

.porto_title {
  font-size: 48px;
  font-family: 'MuseoModerno';
  font-weight: 400;
  display: block;
}
.porto_title::after {
  position: absolute;
  content: '';
  display: block;
  border: none;
  width: 50px;
  height: 2px;
  background-color: #5D59FF;
  align-items: center;
  left: 50%;
  transform: translateX(-50%);
}

.porto_description {
  display: block;
  font-size: 20px;
  font-family: 'Open Sans';
  font-weight: 300;
  margin: 15px 0;
}
.carousel_wrapper {
  margin: 75px 10%;
  /* box-shadow: 0 0 12px rgba(0, 0, 0, .3); */
}
.carousel_item {
  width: 100%;
  min-height: 400px;
  box-sizing: border-box;
}
.carousel_description{
  text-align: left;
  padding: 0px 50px;
}
.carousel_des_title {
  font-size: 2.5em;
  font-family: 'open sans';
  margin-bottom: 10px;
  font-weight: 700;
}
.carousel_tag_item {
  display: inline-block;
  font-size: 13px;
  background-color: rgba(91, 88, 255 , .5);
  color: white;
  margin-right: 15px;
  padding: 3px 10px;
  border-radius: 50px;
  margin-bottom: 15px;
}
.carousel_des {
  font-size: 16px;
  font-family: 'open sans';
  font-weight: 400;
  margin-top: 50px;
}

/* Active Node Style */
.active_node {
  background-color: #5D59FF;
  margin-top: 100px;
  position: relative;
  text-align: center;
  z-index: 5;
  padding: 50px 0;
}
.an_title {
  font-size: 48px;
  font-family: 'MuseoModerno';
  font-weight: 400;
  display: block;
  color: white;
}
.an_title::after {
  position: absolute;
  content: '';
  display: block;
  border: none;
  width: 50px;
  height: 2px;
  background-color: white;
  align-items: center;
  left: 50%;
  transform: translateX(-50%);
}
.an_item {
  background-color: white;
  padding: 20px 20px;
  border-radius: 10px;
  width: 275px;
  margin: 35px 0;
}
.an_item_title {
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 18px;
}
.an_description {
  color: white;
  display: block;
  font-size: 20px;
  font-family: 'Open Sans';
  font-weight: 300;
  margin: 15px 0;
}
.an_status_wrapper {
  text-align: left;
  margin-top: 20px;
}
.an_item_image {
  width: 35px;
  height: 35px;
  border-radius:  50%;
}
.an_status_title {
  font-family: 'Open sans';
  font-size: 14px;
}
.an_wrapper {
  width: 75%;
  margin: 50px auto;
}
.an_dots {
  position: absolute;
  z-index: 0;
}
.an_dot1 {
  top: 50px;
  right: 0;
}
.an_dot2 {
  bottom: 75px;
  left: 0;
}

/* Get in touch styles */
.git_wrapper {
  min-height: 50vh;
  background-color: white;
}
.git_text_title {
  font-family: 'MuseoModerno';
  font-size: 3em;
  font-weight: 500;
}
.rectangle_wrapper div {
  height: 2px;
  border: none;
  background: #111111;
  margin: 10px 0;
}
.rectangle_wrapper div:nth-child(1) {width: 100px;}
.rectangle_wrapper div:nth-child(2) {width: 50px;}
.rectangle_wrapper div:nth-child(3) {width: 25px;}

.git_text_description {
  font-family: 'open sans';
  font-size: 20px;
  font-weight: 400;
}
.git_image img {
  width: 100%;
}

.unsupported {
  height: 100vh;
  width: 100vw;
  background-color: white;
  position: fixed;
  display: none;
  font-family: 'open sans';
  z-index: 100;
  top: 0;
  left: 0;
}
.unsupported_text {
  position: absolute;
  left: 50%;
  top:50%;
  transform:translate(-50%,-50%);
  text-align: center;
  font-size: 20px;
}
.unsupported_text span {display: block;}

/* Footer Styles */

.footer_text {
  display: block;
  margin: 20px 0;
  color: rgba(18, 18, 18 , .5);
}

@media only screen and (max-width:380px) {
  .banner_illustration img:nth-child(1){display: none;}
  .carousel_description {
    padding: 25px 0 !important;
  }
  .header_wrapper {padding: 0 2em !important;}
}

@media only screen and (max-width:500px){
  .banner_wrapper {padding: 0 2em !important;}
}

@media only screen and (max-width:576px) {
  .banner_btn {
    padding: 7.5px 20px;
    font-size: 12px;
  }
  .banner_illustration img:nth-child(1){
    width: 15em !important;
  }
  .banner_wrapper {padding: 0 2em;}
  .porto_title {font-size: 35px;}
  .porto_description {font-size: 15px;}
  .an_title {font-size: 35px;}
  .an_description {font-size: 15px;}
  .carousel_item {
    height: auto;
  }
  .git_wrapper {margin: 8em 2em;}
  .banner_title {font-size: 17px !important;}
  .banner_description {font-size: 10px !important;width: 200px !important;}
  .portofolio_wrapper {margin-top: 200px !important;}
  .banner_rectangle {top: 250px !important;}
}

@media only screen and (max-width:768px) {
  .carousel_wrapper {margin: 75px 50px}
  .carousel_des {margin-top: 20px;}
  .carousel_des_title {font-size: 1.5em !important;}
  .carousel_description {padding: 25px 50px;}
  .git_wrapper > div {
    flex-direction: column;
  }
  .banner_description {width: 300px;font-size: 13px !important;}
  .banner_title {font-size: 25px !important;}
  .logo {width: 150px;}
  .banner_dot1 {width: 100px;}
  .banner_dot2 {width: 100px;}
  .carousel_item {flex-flow: column;}
  .porto_image{
    min-height: 300px;
  }
}
@media only screen and (max-width: 1615px) {
  .banner_wrapper {
    padding: 0 10rem;
  }
  .banner_title {font-size: 40px;}
  .banner_description {font-size: 15px;}
  .banner_illustration img:nth-child(1) {
    width: 30em;
  }
  .header_wrapper {
    padding: 0 7rem;
  }
}
@media only screen and (max-width: 1200px){
  .portofolio_wrapper{margin-top: 300px;}
  .carousel_des {font-size: .8em;}
  .carousel_des_title {font-size: 2em;}
  .git_text_description {font-size: 18px;}
}
@media only screen and (max-width: 992px){
  .header_wrapper {padding: 0 3em;}
  .header_wrapper div:nth-child(2) {display: none;}
  .header_wrapper div:nth-child(3) {display: none;}
  .banner_wrapper {padding: 0 5em;}
  .banner_illustration img:nth-child(1) {
    width: 20em;
  }
  .banner_title {margin-bottom:0;}
  .banner_description {margin: 20px 0}
  .banner_wrapper {margin-top: 75px;}
  .banner_rectangle {top: 150px;}
  .porto_title{font-size: 40px;}
  .an_title{font-size: 40px;}
}